@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(70, 70, 70);
}
html{
    scroll-behavior: smooth;
    color: var(--primary-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}
#font {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}
@media (max-width: 768px) {
    #navbar {
        flex-direction: column; 
        padding-right: none;

    }
    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }
    #navbar ul li a {
        padding: 0.5rem;
        font-size: 1rem; 
    }

    #showcase .showcase-content {
        padding: 1rem;
    }
    .lead {
        font-size: 2.5rem; 
        margin-bottom: 2rem;
    }
    .btn {
        font-size: 1rem; 
        padding: 0.5rem 1.5rem;
    }
    .background1, .background2 {
        height: auto; 
        padding: 20px 10px; 
    }
    .text1, .text2 {
        font-size: 2rem; 
        padding-top: 50px;
    }
}
@media (max-width: 480px) {
    .logo {
        padding-left: 5vh; 
        width: 70px; 
    }
    #navbar {
        padding: 10px;
    }
    .lead {
        font-size: 2rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}
.logo {
    position: fixed;
    height: auto;
    width: 85px;
    padding-left: 20vh;
}
.napis {
    padding-right: 520px;
}
#navbar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.44);
    color: rgb(155, 155, 155);
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;
    justify-content: flex-end;
    width: 100%;
    color: var(--primary-color);
    margin-right: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}
#navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a{
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li :hover{
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.ftr {
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    padding: 10px;
    height: 180px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.image {
    background: url(../img/logo.maturita.svg) no-repeat center center/cover;
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.background1 {
    height: 750px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background-color: #3a3a3a;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
  }
  .input-box input{
    width: 83%;
    height: 14%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color: #fff;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
  
  }
  .remember-forgot a{
    color: #fff;
    text-decoration: none;
  
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }